/*========================================*/
/*-------------- [_Colors] ---------------*/
/*========================================*/

/*========== Background Colors ==========*/
.bg-primary-color {
	background: var(--primary-color);
}
.bg-primary-color2 {
	background: var(--primary-color2);
}
.bg-primary-color3 {
	background: var(--primary-color3);
}
.bg-primary-color4 {
	background: var(--primary-color4);
}
.bg-secondary-color {
	background: var(--secondary-color);
}
.bg-secondary-color2 {
	background: var(--secondary-color2);
}

/*========== Text Color ==========*/
.text-primary-color {
	color: var(--primary-color);
}
.text-primary-color2 {
	color: var(--primary-color2);
}
.text-primary-color3 {
	color: var(--primary-color3);
}
.text-primary-color4 {
	color: var(--primary-color4);
}
.text-secondary-color {
	color: var(--secondary-color);
}
.text-secondary-color2 {
	color: var(--secondary-color2);
}
.heading-text-color {
	color: var(--heading-text-color);
}
.bg-gradient-color {
	background: var(--bg-gradient-color);
}
.bg-gradient-reverse-color {
	background: var(--bg-gradient-reverse-color);
}