/*========================================*/
/*-------- [_Section_Single_News] --------*/
/*========================================*/
.blog-single-news {
	.single-news-details {
		.single-news-content {
			.entry-meta {
				font-size: 15px;
				color: #888;
				font-weight: 500;
				margin: 25px 0px 10px 0px;
				i {
					font-size: 16px;
					margin-right: 5px;
					vertical-align: middle;
					color: var(--primary-color);
				}
				.admin {
					background: #f6e1eb;
					padding: 4px 8px 6px 8px;
					color: var(--primary-color);
					border-radius: 3px;
					font-size: 13px;
				}
			}
			.single-news-tag-social-area {
				margin: 45px 0 38px;
				border-top: 1px solid #eee;
				padding: 40px 0px 45px;
				border-bottom: 1px solid #eeee;
				.single-news-tags {
					ul {
						li {
							a {
								padding: 6px 12px;
								background: #F3F3F5;
								font-size: 14px;
								color: var(--body-font-color);
								border-radius: 0;
								margin-right: 5px;
								display: inline-block;
								&:hover {
									color: #fff;
									background-color: var(--primary-color);
								}
							}
						}
					}
				}
				.single-news-share {
					.social-icons {
						li {
							display: inline-block;
							a {
								display: block;
								color: var(--primary-color);
								text-align: center;
								font-size: 18px;
								margin-left: 15px;
								&:hover {
									color: var(--primary-color);
								}
							}
						}
					}
				}
			}
			.comments-area {
				background: #f3f3f5;
				padding: 30px 30px;
				margin-top: 40px;
				.comments-title {
					margin-bottom: 10px;
				}
				.comment-list {
					.comment {
						.children {
							margin-left: 45px;
						}
						.comment-body {
							padding-top: 30px;
							display: inline-block;
							border-bottom: 1px solid #e8e9ef;
							.comment-author-thumb {
								margin-top: 5px;
								margin-right: 28px;
								img {
									border-radius: 6px;
								}
							}
							.comment-content {
								margin-left: 95px;
								position: relative;
								overflow: hidden;
								.comment-author {
									margin-bottom: 5px;
									font-size: 18px;
								}
								.comment-text {
									margin-bottom: 35px;
								}
								.comment-meta {
									.comment-metadata {
										margin-bottom: 10px;
										span {
											font-size: 14px;
											color: #8b8b8b;
										}
									}
								}
								.reply {
									position: absolute;
									top: 10px;
									right: 0;
									.comment-reply-link {
										padding: 8px 24px;
										font-size: 13px;
										color: #fff;
										background: var(--primary-color);
										border: 1px solid transparent;
										@include transition(all 200ms ease-out 0s);
										&:hover {
											background: var(--primary-color2);
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.single-news-details.news-wrapper {
	box-shadow: none;
}


