/*========================================*/
/*--------------- [_Buttons] -------------*/
/*========================================*/

/*Btn Style One*/
.cs-btn-one {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	background-color: var(--primary-color);
	font-size: 14px;
	line-height: 26px;
	color: #ffffff;
	padding: 18px 46px;
	font-weight: 500;
	overflow: hidden;
	border-radius: 5px;
	cursor: pointer;
	&:hover{
		background: var(--primary-color2);
		color: #ffffff;
		@include transition(all 300ms ease);
	}
	&.has-icon {
		i {
			font-size: 20px;
			vertical-align: middle;
			padding-right: 10px;
		}
	}
	&.btn-sm.has-icon i {
		font-size: 18px;
	}
	&.btn-circle {
		border-radius: 60px 60px 60px 60px;
	}
	&.btn-square {
		border-radius: 0;
	}
	&.btn-sm {
		font-size: 14px;
		padding: 10px 28px;
	}
	&.btn-md {
		font-size: 14px;
		padding: 18px 56px;
	}
	&.btn-lg {
		font-size: 18px;
		padding: 20px 64px;
	}
	&.btn-xl {
		font-size: 18px;
		padding: 24px 56px;
	}
	&.btn-border {
		border: 2px solid var(--primary-color);
		background: transparent;
		color: var(--primary-color);
	}
	&.btn-light {
		background: #fff;
		color: var(--primary-color);
		border: 2px solid transparent;
		font-weight: 800;
		&:hover {
			border: 2px solid;
		}
		&:focus {
			box-shadow: none;
		}
	}
	&.btn-hover-border:hover {
		border: 2px solid var(--primary-color);
	}
	&.btn-secordary-color {
		background:var(--secondary-color);
		&.hover-white:hover {
			background: #fff;
			color: #0C2239;
		}
	}
	&.btn-secordary-color:hover {
		background: var(--primary-color);
	}
	&.btn-primary-color {
		background:var(--primary-color);
		&.hover-white:hover {
			background: #fff;
			color: #0C2239;
		}
	}
	&.btn-primary-color:hover {
		background: var(--primary-color2);
	}
	&.btn-primary-color2 {
		background:var(--primary-color2);
		&.hover-white:hover {
			background: #fff;
			color: #0C2239;
		}
	}
	&.btn-primary-color2:hover {
		background: var(--primary-color);
	}
	&.btn-primary-color3 {
		background:var(--primary-color3);
		&.hover-white:hover {
			background: #fff;
			color: #0C2239;
		}
	}
	&.btn-primary-color3:hover {
		background: var(--primary-color);
	}
	&.btn-primary-color4 {
		background:var(--primary-color4);
		color: var(--text-color-black);
		&.hover-white:hover {
			background: #fff;
			color: #0C2239;
		}
	}
	&.btn-primary-color4:hover {
		background: var(--primary-color);
	}
	&.btn-gradient-color {
		background:var(--bg-gradient-color);
		color: #fff;
		&:hover {
			background: var(--bg-gradient-reverse-color);
			@include box-shadow(4px 5px 10px 0px rgba(36, 106, 215, 0.6));
		}
	}
	&.btn-transparent {
		background: rgba(0,0,0,0.2);
	}
	&.text-btn {
		color: var(--primary-color);
	}
}

// Text Link Button
.text-link-btn {
	position: relative;
	color: var(--blue);
	&:after {
		content: "\eb34";
		font-family: 'webexicon' !important;
		vertical-align: middle;
		margin-left: 8px;
		font-size: 14px;
		display: inline-block;
	}
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		background: var(--blue);
		top: 100%;
		left: 0;
		pointer-events: none;
		transform-origin: 100% 50%;
		@include transform(scale3d(0,1,1));
		@include transition(transform .3s cubic-bezier(.7,0,.2,1));
	}
	&:hover {
		color: var(--secondary-color);
		&::before {
			background: var(--secondary-color);
			transform-origin: 0 50%;
			@include transform(scale3d(1,1,1));
			transition-timing-function: cubic-bezier(.4,1,.8,1);
		}
	}
	&.primary-color {
		color: var(--primary-color);
		&::before {
			background: var(--primary-color);
		}
		&:hover {
			color: var(--primary-color);
			&::before {
				background: var(--primary-color);
			}
		}
	}
	&.primary-color2 {
		color: var(--primary-color2);
		&::before {
			background: var(--primary-color2);
		}
		&:hover {
			color: var(--primary-color2);
			&::before {
				background: var(--primary-color2);
			}
		}
	}
	&.primary-color3 {
		color: var(--primary-color3);
		&::before {
			background: var(--primary-color3);
		}
		&:hover {
			color: var(--primary-color3);
			&::before {
				background: var(--primary-color3);
			}
		}
	}
	&.primary-color4 {
		color: var(--primary-color4);
		&::before {
			background: var(--primary-color4);
		}
		&:hover {
			color: var(--primary-color4);
			&::before {
				background: var(--primary-color4);
			}
		}
	}
}


// Button Animated
.animate-btn {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #fff !important;
	text-align: center;
	padding: 15px 36px;
	letter-spacing: 1px;
	text-transform: uppercase;
	z-index: 1;
	@include transition(all 400ms ease-out 0s);
	background: var(--primary-color);
	i {
		margin-left: 10px;
	}
	&:before {
		position: absolute;
		content: '';
		width: 5%;
		height: 100%;
		background: rgba(3, 50, 77, 0.2);
		left: 0px;
		top: 0px;
		z-index: -1;
		@include transition(all 400ms ease-out 0s);
	}
	&:hover {
		&:before {
			width: 100%;
			background: rgba(3, 50, 77, 1);
		}
	}
	&.btn-circle {
		border-radius: 60px 60px 60px 60px;
	}
	&.btn-square {
		border-radius: 0;
	}
	&.btn-sm {
		font-size: 14px;
		padding: 10px 28px;
	}
	&.btn-md {
		font-size: 14px;
		padding: 18px 56px;
	}
	&.btn-lg {
		padding: 22px 56px;
		font-size: 16px;
	}
	&.btn-xl {
		font-size: 18px;
		padding: 24px 56px;
	}
}
