/*========================================*/
/*---------- [_Working_Process] ----------*/
/*========================================*/
.working-process-wrapper {
  position: relative;
  counter-reset: my-sec-counter1;
  .working-process-shape {
    position: absolute;
    top: 0;
    left: 220px;
    @media only screen and (min-width: 1200px) and (max-width: 1399px){
      left: 165px;
    }
    @media only screen and (min-width: 992px) and (max-width: 1199px){
      left: 45px;
    }
    @media screen and (max-width: 991px){
      display: none;
    }
  }
  .process-item {
    position: relative;
    display: block;
    text-align: center;
    padding: 0 40px 0;
    @media only screen and (min-width: 992px) and (max-width: 1199px){
      padding: 0 10px 0;
    }
    .process-icon-box {
      position: relative;
      display: block;
      height: 150px;
      width: 150px;
      margin: 0 auto;
      .process-icon {
        position: relative;
        align-items: center;
        justify-content: center;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(223, 227, 231);
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 57px 0px rgba(0, 0, 0, 0.1);
        height: 148px;
        width: 148px;
        line-height: 148px;
        margin: 0 auto;
        z-index: 1;
        span {
          &:before {
            font-size: 64px;
            color: var(--primary-color);
          }
        }
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          content: "";
          border-radius: 50%;
          background-color: var(--primary-color2);
          transform-origin: center;
          transform-style: preserve-3d;
          @include transition(all 0.3s cubic-bezier(0.54, 0.33, 0.78, 0.84));
          @include transform(scaleY(0));
          z-index: -1;
        }
      }
      .process-count {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: var(--primary-color2);
        z-index: 2;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: #fff;
          font-size: 14px;
          line-height: 40px;
          font-weight: 700;
          border-radius: 50%;
          counter-increment: my-sec-counter1;
          content: counters(my-sec-counter1,".",decimal-leading-zero);
          @include transition(all 200ms linear);
          transition: all 200ms linear;
          transition-delay: 0.1s;
        }
      }
    }
    .process-details {
      position: relative;
      display: block;
      margin-top: 21px;
      .process-title {
        margin-bottom: 10px;
        color: #fff;
      }
      .process-text {
        color: #fff;
        margin-bottom: 0;
      }
    }
    &:hover {
      .process-icon-box {
        .process-icon {
          span {
            &:before {
              color: #fff;
            }
          }
          &:before {
            transform: scale(1.04);
          }
        }
        .process-count {
          &:before {
            background-color: #fff;
            color: var(--primary-color);
          }
        }
      }
    }
  }
}








